[Unit]
Description=A service to restart spotifyd after resume
Documentation=https://github.com/Spotifyd/spotifyd
Wants=sound.target
After=sound.target
Wants=network-online.target
After=network-online.target
After=suspend.target

[Service]
ExecStart=/usr/bin/systemctl --user restart spotifyd.service

[Install]
WantedBy=suspend.target
