ACTION=="change", \
  KERNEL=="BAT0" \
  SUBSYSTEM=="power_supply", \
  ATTR{status}=="Discharging", \
  ATTR{capacity}=="[0-9]|10", \
  RUN+="/usr/bin/brightnessctl set 25"

ACTION=="change", \
  KERNEL=="BAT0" \
  SUBSYSTEM=="power_supply", \
  ATTR{status}=="Discharging", \
  ATTR{capacity}=="[0-5]", \
  RUN+="/usr/bin/systemctl hibernate"
