[Unit]
Description=Service to manage Mpvpaper and Swaybg
ConditionEnvironment=WAYLAND_DISPLAY
After=graphical-session.target
PartOf=graphical-session.target

[Service]
ExecStart=%h/.config/scripts/background/daemon
Restart=always
RestartSec=12

[Install]
WantedBy=graphical-session.target
