[Unit]
Description=Dynamic output configuration for Wayland compositors
Documentation=https://gitlab.freedesktop.org/emersion/kanshi
After=default.target

[Service]
ExecStart=/usr/bin/kanshi
Restart=always
RestartSec=12

[Install]
WantedBy=default.target
