[Unit]
Description=Service to manage Swayidle and Swaylock
PartOf=graphical-session.target

[Service]
ExecStart=%h/.config/scripts/lock/lock-daemon
Restart=always
RestartSec=12

[Install]
WantedBy=sway-session.target
